#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/8b8adb5b3f.js" crossorigin="anonymous"></script>
  </head>
  <style>
    h1{
      text-align: center;
    }
    #details{
      padding: 1.5em;
    }
    #latestreading{
      text-align: center;
      text-decoration: underline;
    }
  </style>
  <header class="title">
    Hi there, ${member.firstname} ${member.lastname}!
  </header>

  #{list items:stations, as: 'station'}
  <div class="content box">
    <h1>${station.name}</h1>
    <h2 id="latestreading">Latest Reading:</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Date and Time</th>
          <th>Code</th>
          <th>Temperature</th>
          <th>Wind Speed</th>
          <th>Wind Direction</th>
          <th>Pressure</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          ${station.getLatestReading().dateTime}
        </td>
        <td>
          ${station.getLatestReading().code}
        </td>
        <td>
          ${station.getLatestReading().temperature}
        </td>
        <td>
          ${station.getLatestReading().windSpeed}
        </td>
        <td>
          ${station.getLatestReading().windDirection}
        </td>
        <td>
          ${station.getLatestReading().pressure}
        </td>
      </tr>
      </tbody>
    </table>
    <div id="details" class="buttons is-centered">
      <p>
        <a href="/stations/${station.id}" class="button is-info is-rounded">Details</a>
        <a href="/dashboard/deletestation/${station.id}" class="button is-danger is-rounded">Delete</a>
      </p>
    </div>
  </div>
  #{/list}
  #{addstation /}
</html>