#{extends 'main.html' /}
#{set title:'Station' /}

#{menu id:"dashboard"/}
<style>
  .box.has-background-grey{
    height: 100%;
    color: black;
  }
  p{
    font-size: 14px;
  }
</style>
<div class="content box">
  <section>
    <div class = "columns is-centred ">
      <div class = "column is-one-fifth">
        <div class="box has-background-grey">
          <h2 class="name has-text-white">${station.name}</h2>
          <p>Lat: ${station.lat}</p>
          <p>Lng: ${station.lng}</p>
        </div>
      </div>
      <div class = "column is-one-fifth" >
        <div class="box has-background-grey">
          <h2 class="weather has-text-white">Weather</h2>
          <p>${station.predictWeather()}</p>
          <p></p>
        </div>
      </div>
      <div class = "column is-one-fifth">
        <div class="box has-background-grey">
          <h2 class="temp has-text-white">Temp. ${station.trendTemp()}</h2>
          <p>Current (in Celsius): ${station.getLatestReading().temperature}&degC</p>
          <p>Current (in Fahrenheit): ${station.celsiusToFahrenheit()}&degF</p>
          <p>Min: ${station.getMinTemp()}&degC</p>
          <p>Max: ${station.getMaxTemp()}&degC</p>
        </div>
      </div>
      <div class = "column is-one-fifth">
        <div class="box has-background-grey">
          <h2 class="wind has-text-white">Wind ${station.trendWind()}</h2>
          <p>${station.kmhrToBeaufort()}bt</p>
          <p>${station.getLatestReading().windDirection}&deg</p>
          <p>${station.convertWindDirection()}</p>
          <p>Feels like: ${station.calculateWindChill()}</p>
        </div>
      </div>
      <div class = "column is-one-fifth">
        <div class="box has-background-grey">
          <h2 class="pressure has-text-white">Pressure ${station.trendPressure()}</h2>
          <p>${station.getLatestReading().pressure}hPa</p>
        </div>
      </div>
    </div>
  </section>
  #{listinformation station:station /}
  #{addreading station:station /}
</div>